/*ESTILOS GENERALES*/
:root{
   --black:#000000;
   --white: #FFFFFF;
   --very-light-pink: #C7C7C7;
   --text-input-field: #F7F7F7;
   --dark: #232830;
   --hospital-green: #ACD9B2;
   --sm: 14px;
   --md: 16px;
   --lg: 18px;
}

html{
   font-size:  62.5%;
}

*{
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.inactive{
    display: none;
}

/*ESTILOS DEL NAVBAR*/

.nav{
   display: flex;
   width: 100%;
   padding: 0 2rem;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid var(--very-light-pink);
}

.icon-menu{
   display: none;
}

.navbar-l{
   display: flex;
   align-items: center;
}

.navbar-l ul{
    margin-left: 2rem;
}

.logo{
   width: 14rem;
}

.logo img{
   width: 100%;
   cursor: pointer;
}

.menu{
   display: flex;
   list-style: none;  
   height: 6rem;
   align-items: center;         
}

.menu li a:hover{
   border: 1px solid var(--hospital-green);
   color: var(--hospital-green);
   border-radius: 1rem;
}

.menu li a{
   text-decoration: none;
   color: var(--very-light-pink);
   font-size: var(--sm);
   padding: 0.8rem;
}

.navbar-r{
   display: flex;
   align-items: center;
   font-size: var(--sm);
   color: var(--very-light-pink);
}

.navbar-r img{
    cursor: pointer;
}

.user-desktop{
   cursor: pointer;
   display: flex;
}

.user-desktop p{
   margin-right: 1rem;
}

.user-desktop :nth-child(2){
   transform: rotate(90deg);
   margin-right: 1rem;
}

.user-desktop :hover{
    color: var(--hospital-green);
}

/*ESTILOS DESKTOP MENU*/
.desktop-menu{
    position: absolute;
    background-color: var(--white);
    top: 6rem;
    right: 7.4rem;
    border: 1px solid var(--very-light-pink);
    width: 15rem;
    height: auto;
    padding: 2rem;
    border-radius: 0.6rem;
    background-color: var(--white);
}

.desktop-menu ul{
    list-style: none;
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.desktop-menu ul li:nth-child(1) a,
.desktop-menu ul li:nth-child(2) a{
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 3.5rem;
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    border-top: 1px solid var(--very-light-pink);
    font-size: var(--sm);
    padding-top: 2rem;
    margin-bottom: 0.5rem;
}

/*MENU MOBIL*/
.menu-mobil{
    position: absolute;
    top: 6rem;
    left: 0;
    background-color: var(--white);
    padding: 0 2rem;
    width: 100%;
}

.menu-mobil ul{
    list-style: none;
    font-weight: bold;
    font-size: var(--lg);
    
}

.menu-mobil a{
    text-decoration: none;
    color: var(--black);
    
}

.categories li{
   margin-bottom: 3.5rem;
}

.user-mobil li{
    padding-top: 3.5rem;
}

.user-mobil li:first-child{
    border-top: 1px solid var(--very-light-pink);
}

.data{
    margin-top: 5rem;
}

.data li{
    font-size: var(--sm);
    font-weight: 300;
}

.data li:last-child{
    margin-top: 1rem;
}

.data li a:last-child{
    color: var(--hospital-green);
    font-weight: bold;
}

/*ASIDE SHOPPING CART*/
.my-order{
    background-color: var(--white);
    padding: 1rem 2rem;
    width: 100%;
    position: absolute;
    right: 0;
}

.title{
    display: flex;
    margin: 1rem 0;
}

.title h1{
    font-size: var(--lg);
    color: var(--black);
    font-weight: bold;
    margin-left: 1.5rem;
}

.title img{
    transform: rotate(180deg);
    cursor: pointer;
}

.order-detail{
    background-color: var(--text-input-field);
    padding: 2rem 2.4rem;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
    align-items: center;
    font-size: var(--md);
    margin-bottom: 2rem;
}

.order-detail span{
    font-weight: bold;
}

.order-detail :nth-child(2){
    text-align: end;
}

.shopping-car{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 2rem;
    font-size: var(--md);
    margin-bottom: 2rem;
}

.shopping-car figure{
    width: 9rem;
    height: 9rem;            
}

.shopping-car figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
}

.shopping-car :nth-child(4){
    cursor: pointer;
}

.shopping-car :nth-child(2){
    color: var(--very-light-pink);            
}

.shopping-car :nth-child(3){
    font-weight: bold;
}

.primary-button{
    border: none;
    width: 100%;
    height: 6rem;
    border-radius: 8px;
    background-color: var(--hospital-green);
    color: var(--white);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

/*LISTA DE PRODUCTOS*/
.cards-container{
    display: grid;
    place-content: center;
    place-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 15rem);
    margin-top: 2rem;
}

.product-card{
    width: 15rem;
}

.product-img{
    display: inline-block;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    cursor: pointer;
}

.product-card .product-info{
    display: flex;
    justify-content: space-between;
}

.product-card .product-info span{
    display: block;
    margin-top: 0.3rem;
}

.product-card .product-info div :first-child{
    font-weight: bold;
    color: var(--dark);
    font-size: var(--md);
}

.product-card .product-info div :last-child{
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.cart-add{
    width: 3.5rem;
    height: 3.5rem;
}

.cart-add img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*PRODUCT DETAIL*/
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail {
    width: 36rem;
    padding-bottom: 2.4rem;
    position: absolute;
    right: 0;
    background-color: var(--white);
}

.product-detail-close {
    background: var(--white);
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    z-index: 2;
    padding: 0.5rem;
    border-radius: 50%;
}

.product-detail-close:hover {
    cursor: pointer;
}

.product-detail > img:nth-child(2) {
    width: 100%;
    height: 36rem;
    object-fit: cover;
    border-radius: 0 0 2rem 2rem;
}

.product-detail .product-info {
    margin: 2rem 2rem 0 2rem;
}

.product-detail .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.product-detail .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 2.8rem;
}

.product-detail .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 2.8rem;
}


/*MEDIAQUERIES*/

@media (max-width: 640px){
   .icon-menu{
       display: block;
   }

   .nav{
        padding: 1rem;
   }

   .menu, .user-desktop, .desktop-menu{
       display: none;
   }

   .product-detail {
        width: 100%;
    }
}

@media (min-width: 641px) {
    .menu-mobil{
        display: none;
    }
    .my-order{
        padding-right: 2rem;
        width: fit-content;
        position: absolute;
        right: 0;
    }
}
